@use '../../styles/shared.scss';

.header {
    font-size: 32px;
    font-weight: bold;
}

.submitButton {
    background-color: shared.$blue;
    color: shared.$white;
    font-family: shared.$font;
    font-size: 16px;
    border: 0px;
    text-transform: uppercase;
    width: 100%;
    padding: 12px 8px;
    margin: 32px 0px;

    &:hover {
        background-color: shared.$submit-hover;
    }
}
