@use '../../styles/shared.scss';

.notificationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
    border: 0px;
    background-color: #F9632F;
}

.notificationText {
    font-family: shared.$font;
    font-size: 16px;
    color: shared.$white;
}

.notificationButton {
    flex-basis: 1;
    justify-self: flex-end;

    button {
        background-color: #EC9D45;
        color: #EEEEEE;
        border: 0px;
        border-radius: 4px;
        font-size: 16px;

        &:hover {
            background-color: #EDA95E;
        }
    }
}